# Compiled object files
*.o

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.a

# Executable files
*.out
*.exe

# Debug files
*.dSYM/
*.stackdump

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.orig

# IDE specific files
.vscode/
.idea/
*.code-workspace

# Build directories
/build/
bin/
obj/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Ignore output images directory
output_images/